# Audio processing
ffmpeg-python>=0.2.0
librosa>=0.10.0

# ASR
openai-whisper==20241001

# Speaker Diarization
torch==2.3.0+cu121
torchaudio==2.3.0+cu121
pyannote.audio==3.2.0

# Core
numpy>=1.21.0
typing-extensions>=4.0.0